<web-app>

    <servlet>
        <servlet-name>AddOrder</servlet-name>
        <servlet-class>by.vorokhobko.servlets.AddOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrder</servlet-name>
        <url-pattern>/addOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetBody</servlet-name>
        <servlet-class>by.vorokhobko.servlets.GetBody</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBody</servlet-name>
        <url-pattern>/getBody</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetBrand</servlet-name>
        <servlet-class>by.vorokhobko.servlets.GetBrand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBrand</servlet-name>
        <url-pattern>/getBrand</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetDrive</servlet-name>
        <servlet-class>by.vorokhobko.servlets.GetDrive</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDrive</servlet-name>
        <url-pattern>/getDrive</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetEngine</servlet-name>
        <servlet-class>by.vorokhobko.servlets.GetEngine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetEngine</servlet-name>
        <url-pattern>/getEngine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetFuel</servlet-name>
        <servlet-class>by.vorokhobko.servlets.GetFuel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetFuel</servlet-name>
        <url-pattern>/getFuel</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetLocation</servlet-name>
        <servlet-class>by.vorokhobko.servlets.GetLocation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetLocation</servlet-name>
        <url-pattern>/getLocation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetModel</servlet-name>
        <servlet-class>by.vorokhobko.servlets.GetModel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetModel</servlet-name>
        <url-pattern>/getModel</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetOrder</servlet-name>
        <servlet-class>by.vorokhobko.servlets.GetOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOrder</servlet-name>
        <url-pattern>/getOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetOwner</servlet-name>
        <servlet-class>by.vorokhobko.servlets.GetOwner</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOwner</servlet-name>
        <url-pattern>/getOwner</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTransmission</servlet-name>
        <servlet-class>by.vorokhobko.servlets.GetTransmission</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTransmission</servlet-name>
        <url-pattern>/getTransmission</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetYear</servlet-name>
        <servlet-class>by.vorokhobko.servlets.GetYear</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetYear</servlet-name>
        <url-pattern>/getYear</url-pattern>
    </servlet-mapping>
</web-app>